#tasksTable,
.table-striped>tbody>tr:nth-of-type(odd)>* {
    color: red !important;
}

.table-striped>tbody>tr:nth-of-type(even)>* {
    color: teal !important;
}

.invalid-feedback d-block {
    color: blanchedalmond !important;
}